British_Airways/Task_1/output.png

British_Airways/Task_1/Screenshot 2024-09-16 at 9.39.37 PM.png

British_Airways/Task_1/Task 1 - Example Answer.pdf

British_Airways/Task_1/Your task as a data scientist at British Airways.docx

British_Airways/Task_1/Powerpoint Summary - Task 1.pptx

British_Airways/Task_1/British_Airways.pptx